doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    title p5.js
  body
    div#content
     h1 Hello, p5 !
    script(src="js/bundle.js")